@import '../../static/styles/common/vars.os.less';

.card-sidebar {
  width: 100%;
  background: @WHITE !important;
  height: 100vh;
  border-radius: unset !important;
  box-shadow: none !important;
  z-index: 9;
  > .@{ant-prefix}-card-body {
    position: relative;
    padding: 0 8px !important;
    height: 100%;
    .wrapper-sidebar {
      height: 100%;
      flex-flow: column !important;
      justify-content: space-between;
    }
  }
}

#dark {
  .card-sidebar {
    background: @NEUTRAL100 !important;
    .card-app-icon {
      &.active {
        background: rgba(249, 87, 94, 0.1) !important;
      }
    }
  }
}
