@import '../../../static/styles/common/vars.os.less';

.card-app-icon {
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 12px !important;
  .@{ant-prefix}-card-body {
    padding: 8px !important;
  }
  &.active {
    background: rgba(249, 87, 94, 0.1) !important;
  }
}

#light {
  .@{ant-prefix}-active-app {
    .@{ant-prefix}-badge-dot {
      background: @NEUTRAL100;
      box-shadow: 0 0 0 2px @NEUTRAL05;
    }
  }
}

#dark {
  .@{ant-prefix}-active-app {
    .@{ant-prefix}-badge-dot {
      background: @NEUTRAL05;
      box-shadow: 0 0 0 2px @NEUTRAL100;
    }
  }
}
